# VScode workspace files 
/.vscode/*.code-workspace
**/.DS_Store
*.code-workspace

# Build files
_markdown*/
questions.yml
.claude/skills/istqb-sample-exam-update/scripts/_template_cache.py
*.md.tex
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.log
*.luabridge.lua
*.out
*.run.xml
*.toc
*.pdf
*.log